<!-- # show base.html with Code in Tag 'Block content' -->
{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>Completed Todos</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="list-group">
                {% for todo in todos %}
		<!-- тег "a" href=" делает строку гиперссылкой при клике на которую происходит переход на viewtodo и передается todo.id этой записи  -->
                    <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}">   <!-- #если important то выделяется красным стилем  -->
                    			<b>{{ todo.title }}</b>	<!-- #вывод поочереди всех заголовков(title) из todos(создано в views.py)  -->
                    			- Completed {{ todo.datacompleted|date:'M j Y H:i' }} <!--  show completed date/time   -->
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
