<!-- # show base.html with Code in Tag 'Block content' -->
{% extends 'todo/base.html' %}

{% block content %}

  {{ error }}

  {{ todo.title }}        <!-- #вывод заголовка -->

  <form method="POST">    <!-- #вывод формы -->
      {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

  <form method="POST" action="{% url 'deletetodo' todo.id %}">    <!-- #вывод и действие кнопки Complete -->
      {% csrf_token %}
    <button type="submit">Delete</button>
  </form>

  <form method="POST" action="{% url 'completetodo' todo.id %}">    <!-- #вывод и действие кнопки Complete -->
      {% csrf_token %}
    <button type="submit">Complete</button>
  </form>

{% endblock %}
